.first-label {
    padding-left: 2%;
}

.first-date{
    margin-left: 1%;
}

body.booking {
    margin: 0;
    background-color: #A7AFEF;
}

.floating-radio {
    float: left;
    margin-left: 10%;
}

.margin-date {
    margin-left: 20%;
    margin-top: 20%;
}

.last-label{
    float: none;
}

.booking-div {
    box-shadow: 0 0 10px #111111;
    width: 50%;
    margin-left: 17%;
    margin-top: 1%;
    background-color: #f2f2f2;
}

.input-booking {
    margin-left: 13%;
    margin-top: 2%;
    font-size: larger;
}

.apartment-type {
    width: 33%;
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
    background-color:rgba(102, 172, 224, 0.5);
    font-size: large;
    margin-left: 5%;
    font-family: "Times New Roman", serif;
}

.date-input-arr{
    width: 32%;
    padding: 4px 5px;
    border: none;
    border-radius: 4px;
    background-color: rgba(102, 172, 224, 0.5);
    font-size: large;
    margin-left: 15%;
    font-family: "Times New Roman", serif;
}

.date-input-leave{
    width: 32%;
    padding: 4px 5px;
    border: none;
    border-radius: 4px;
    background-color: rgba(102, 172, 224, 0.5);
    font-size: large;
    margin-left: 14%;
    font-family: "Times New Roman", serif;
}

@media screen and (max-width: 700px) {
    .first-label {
        padding-left: 0;
    }

    .floating-radio {
        float: left;
        margin-left: 10%;
    }

    .first-label {
        padding-left: 0;
    }

    .input-booking {
        margin-left: 12%;
        margin-top: 2%;
        font-size: medium;
    }

    .booking-div {
        background-color: #A7AFEF;
        width: 84%;
        margin-left: 8%;
    }

    .apartment-type {
        width: 30%;
    }
}
