.error {
    font-family: "Times New Roman", serif;
    color: red;
    font-size: larger;
    text-align: center;
}

.languages {
    display: flex;
}

.languages > form {
    margin: 20% 20% 0 -15%;
}

.body {
    margin: 0;
    padding: 0;
}

input.login-text {
    width: 40%;
    padding: 12px 20px;
    margin: 4% 15%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label.login-label {
    width: 20%;
    margin: 2% 0 2% 15%;
    float: left;
}

button.login-submit {
    box-shadow: 0 0 10px #111111;
    width: 25%;
    background-color: #255a94;
    color: white;
    padding: 14px 14px;
    margin: 1% 0 1% 40%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.login-submit:hover {
    background-color: #1b4979;
}


div.login-form {
    box-shadow: 0 0 10px #111111;
    width: 60%;
    margin: 1% 20% 2% 20%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 7% 0 4% 0;
    min-height: 60%;
}

#to-be-found {
    min-height: 90%;
    display: flex;
}

body.standard-color {
    margin: 0;
    background-color: rgba(151, 197, 248, 0.3);
}

.pagination {
    display: inline-block;
    margin-left: 41%;
}

.pagination-children {
    width: 20px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*header*/
ul.topnav {
    box-shadow: 0 0 10px #111111;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: larger;
    background-color: #2D2F59;
}

ul.topnav li {
    float: left;
    height: 60px;
}

ul.topnav li a {
    border-right: black solid 1px;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px 9px 16px;
    text-decoration: none;
    height: 35px;
}

.logo {
    border-right: black solid 1px;
    padding: 1px 4px 7px 4px;
    display: block;
    text-align: center;
    height: 60px;
}

.left-border {
    border-left: black solid 1px;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #361da5;
    height: 35px;
}

ul.topnav li.center {
    padding-top: 5px;
    margin-bottom: -12px;
    max-width: 18%;
    font-size: medium;
    border-right: 1px solid black;
}

ul.topnav li.center a {
    border: none;
}

ul.topnav li.right {
    float: right;
}

.select-lang {
    margin: 37% 0 37% 0;
}

.select-container {
    padding: 0 1% 0 1%;
}

/*/header*/
footer {
    left: 0;
    height: 70px;
    bottom: 0;
    width: 100%;
    background-color: rgba(56, 54, 64, 0.72);
    color: white;
    text-align: center;
}

h2.align-center {
    text-align: center;
}

h3.align-center {
    text-align: center;
}

p.align-center {
    text-align: center;
    font-size: larger;
}

.left-menu-link {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.active-link-left-menu {
    background-color: #4CAF50;
    color: white;
}

.left-menu-link:hover:not(.active) {
    background-color: #555;
    color: white;
}

.left-menu-ui {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    list-style-type: none;
    padding: 0;
    flex-basis: 10%;
    margin: 0;
    background-color: #2D2F59;
    color: white;
    align-items: stretch;
}

.admin-users-form {
    margin: 0;
}

@media screen and (max-width: 700px) {

    .logo {
        border-right: none;
        padding: 0 47%;
        margin: 5px 0;
        display: block;
        text-align: center;
        height: 60px;
    }

    #to-be-found {
        flex-direction: column;
    }

    div.login-form {
        width: 90%;
        margin: 1% 5%;
    }

    ul.topnav li.right, ul.topnav li {
        float: none;
    }

    .select-lang {
        margin: 3%;
    }

    ul.topnav li.center {
        border: none;
        max-width: 100%;
        float: none;
        margin-bottom: 0;
        padding-top: 0;
    }

    ul.topnav li.center a {
        width: 100%;
    }

    .select-container {
        padding-left: 44%;
    }

    .left-menu-ui {
        text-align: center;
        flex-basis: 100%;
    }

    .languages {
        display: block;
        flex: none;
    }

    .languages > form {
        float: left;
        margin: 2% 12% 0 0;
    }

    .languages:first-child {
        margin: 2% 0 0 -40%;
    }

    button.login-submit{
        width: 35%;
    }
}
