<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="false">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>by.kukshinov.hotel.HotelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>language</filter-name>
        <filter-class>by.kukshinov.hotel.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>language</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>authentication</filter-name>
        <filter-class>by.kukshinov.hotel.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authentication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


<!--  todo  add filter for authorization-->
<!--  todo  error page-->
    <filter>
        <filter-name>logout</filter-name>
        <filter-class>by.kukshinov.hotel.filter.LogoutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>logout</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>

</web-app>
